.container {
  margin: 10px;
  text-align: center;
}
button {
  border: none;
  background-color: transparent;
}

.button {
  font-size: 20px;
  color: #fff;
  background-color: rgb(252, 40, 40);
}

nav#nav div.container .button {
  background-color: rgb(58, 45, 235);
}

a {
  background-color: rgb(255, 250, 118);
}

#nav div.container a.button:hover {
  background-color: rgb(134, 250, 130);
}
#nav a.button:hover {
  background-color: rgb(236, 130, 250);
}

.container__body__btn {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.container__body__btn button {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(255, 3, 3);
  border-radius: 15px;
}
.container__body__btn button:hover {
  transform: scale(1.2, 1.2);
  transition: all ease-in 150ms;
  background-color: rgb(255, 3, 3);
  color: #fff;
}

.container__body > p {
  background-color: rgb(111, 216, 206);
}

.container__body > p::first-letter {
  color: rgb(253, 5, 5);
  font-size: xx-large;
}

.container__body p::first-line {
  font-weight: 1000;
}

.container__body h3 {
  color: brown;
}
